@media only screen and (min-width:1700px) {
    .watch-card-img {
        width: 59px;
        height: 59px;
        display: flex;
        flex-shrink: 0 !important;
    }
}
@media only screen and (min-width:1700px) {
    .status{
        padding: 1.15923px 5.79617px !important;

        font-size: 14px !important;
        }
}
@media only screen and (min-width:1400px) {
    .main-section-main {
        padding-top: 120px;
    }
    .main-sec-col2{
        padding-top: 43px;
    }
   
}
@media only screen and (max-width:1700px) {
    .menu-list li {
        padding-left: 35px;
    }
    .status{
        font-size: 10px !important;
    }
}
@media only screen and (max-width:1470px){
    .watch-card--text h2{
        font-size: 20px;
    }
}



@media only screen and (max-width:1400px) {
    .watch-card--text h2{
        font-size: 24px;
    }
    .dashboard-header {
        padding: 0px 17px;
    }
    .user-dropdown {
        display: none;
    }

    .sidebar-icon {
        display: block;
    }

    .dashboard-sidebar-col {
        display: none;
        position: absolute;
        top: 0;
        bottom: 0 !important;
        right: -300px;
        width: 300px;
        z-index: 103;
        height: 100vh !important;
    }

    .dashboard-sidebar {
        top: 0px !important;

    }

    .cross-sidebar {
        display: block;
    }

    .menu-list li {
        padding-left: 60px;
    }
}

@media only screen and (max-width:991px) {
    .watch-card {
        margin-bottom: 15px;
    }

    .main-section-main {
        padding-top: 25px;

    }
   
    .dashboard-main-section-p{
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    .desktop-table{
      display: none;
    }
    .mobile-table-view{
        display: block;
    }
}

@media only screen and (max-width:767px) {
/* =====================watch cards */

.watch-card {
    padding: 7px;
}
.watch-card-img {
    width: 44px;
    height: 44px;
}

.watch-card-img img {
    width: 44px;
    height: 44px;
}

.watch-card--text {
    margin-left: 10px;
    text-decoration: none !important;

}

.watch-card--text h2 {
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    text-decoration: none !important;

}

.watch-card--text p {
    font-weight: 500;
    font-size: 13px;
    line-height: 24px;
    text-decoration: none !important;

    color: #6B7280;

}

.card-dropdown button {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: #22C55E;
    background-color: transparent;
    border: none;
}




    /* ====================slider */
    .slider-card {
        height: 170px;
        padding: 12px 10px 20px 10px;
    }

    .slider-card img {
        width: 42px !important;
        height: 42px;
        border-radius: 100%;
        object-fit: cover;
    }

    .slider-card h1 {
        font-weight: 400;
        font-size: 10px;
        color: #000000;
        line-height: 16px;
    }

    .slider-card p {
        font-weight: 500;
        font-size: 9px;
        color: #6B7280;
        line-height: 10px !important;

    }

    .slider-card h2 {
        font-weight: 400;
        font-size: 10px;
        color: #22C55E;
        line-height: 10px !important;
    }

    .slider-btn-fill {
        padding: 4px 4px;
        background: #F86469;
        border-radius: 6px;
        font-weight: 500;
        font-size: 12px;
        color: white;
        border: none !important;
    }

    .slider-btn-blank {
        padding: 4px 4px;
        background: #FEF0F1;
        border-radius: 6px;
        font-weight: 500;
        font-size: 12px;
        color: #F86469;
        border: none !important;
    }

    .slider-row {
        padding: 10px 3px 10px 10px;
        height: 200px;

    }

    .new-tag {
        width: 24px;
        height: 15px;
        background: #E1E1FE;
        font-size: 8px;
    }

    .main-heading {
        font-size: 16px;
        line-height: 20px;
        color: #000000;
        margin: 23px 0px 23px 0px !important;
    }
    .dashboard-main-section-p{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .card-dropdown{
        margin-bottom: -20px;
    }
}

@media only screen and (max-width:400px){
    .table-card h3{
        font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12.3506px;
    line-height: 27px;
    color: #22C55E;
    }
    .table-card h4{
        font-weight: 500;
        font-size: 9.0629px;
        line-height: 16px;
        color: #6B7280;
    }
}
@media only screen and (max-width:340px){
    .table-card h3{
        font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 10.3506px;
    line-height: 27px;
    color: #22C55E;
    }
    .table-card h4{
        font-weight: 500;
        font-size: 8.0629px;
        line-height: 16px;
        color: #6B7280;
    }
    .side-cards-col h1{
       font-size: 11px; 
    }
}